.reg_info {
    position: absolute;
    top: -4rem;
    left: 0;
    right: 0;
    min-height: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    color: #fff;
    text-align: center;
    opacity: 1;
    transition: opacity 5s linear;
}

.success {
    background: #00C851;
    opacity: 0;
}

.fail {
    background: #db0000;
    opacity: 0;
}

#reg_nickname_info {
    display: none;
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    color: red;
}

#reg_pwd_info {
    display: none;
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    color: red;
}

#log_pwd_info {
    display: none;
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    color: red;
}

#key_feature_info {
    display: none;
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    color: red;
}

/* main_section */

.random_key_area, .mask{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 50rem;
    height: 3.5rem;
    margin-top: -7rem;
    margin-left: -25rem;
    padding: 0.5rem 1rem;
    line-height: 2.5rem;
    text-align: center;
}
.random_key_area{
    border: 2px solid #263238;
}
.mask{
    display: none;
    z-index: 11;
    background-color: #37474F;
    opacity: 0.8;
}
.mask a{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #2BBBAD;
    font-size: 1.5rem;
    line-height: 3.5rem;
}
.generate_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20rem;
    height: 3.5rem;
    margin-top: -2rem;
    margin-left: -10rem;
    padding: 0.5rem 1rem;
    line-height: 2.5rem;
    text-align: center;
    background-color: #37474F;
    color: #fff!important;
    border-radius: 1rem;
}
.generate_btn:hover{
    background-color: #263238;
}

/* set body bg-color */
.mode-bg{
    background-color: #4B515D;
}
.mode-border{
    border: 2px solid #fff;
}
.mode-color{
    color: #fff;
}